html {
    height: 100%;
    width: 100%;
}
body {
    font-family: 'Source Sans Pro', sans-serif;
    background: url('/images/graygirl.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #000;
    margin: 0;
}
#main {
    max-width: 760px;
    margin: 5% auto;
}
#content {
    margin: 0 2%;
    padding: 0 2% 2%;
}
h1,h2,h3 {
    font-weight: normal;
}
h2,h3 {
    font-family: 'Source Code Pro', monospace;
}
h4 {
    font-size: 1.17em;
    margin: 0;
}
input {
    -webkit-appearance: none;
    -webkit-box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
    -webkit-rtl-ordering: logical;
    -webkit-transition-delay: 0s, 0s;
    -webkit-transition-duration: 0.15s, 0.15s;
    -webkit-transition-property: border-color, box-shadow;
    -webkit-transition-timing-function: ease-in-out, ease-in-out;
    -webkit-user-select: text;
    -webkit-writing-mode: horizontal-tb;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(204, 204, 204);
    box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
    box-sizing: border-box;
    color: rgb(85, 85, 85);
    cursor: auto;
    letter-spacing: normal;
    padding: 6px 12px;
}
button {
    -webkit-appearance: none;
    -webkit-user-select: none;
    -webkit-writing-mode: horizontal-tb;
    align-items: flex-start;
    background-color: #B3354D;
    border: 1px solid #B3354D;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-size: 13px;
    height: 32px;
    margin: 0 0 5px 0;
    padding: 6px 12px;
    text-align: center;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
}
form {
    padding-top: 5px;
}
form input, form button {
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;

}
/* Media query for mobile font size */
@media (max-width: 600px) {
    body {
        font-size: 12px;
    }
}
@media (max-width: 450px) {
    body {
        font-size: 10px;
    }
}
